@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'VT323', monospace;
  background: black;
  color: white;
}


@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 25s linear infinite;
}

@keyframes pulse-bright {
  0%, 100% {
    transform: scale(1);
    opacity: 0.9;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
}
.animate-pulse-bright {
  animation: pulse-bright 3s ease-in-out infinite;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 60s linear infinite; /* очень медленное вращение */
}
